/* Import ng fonts para sa website */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Size ng buong html body */
body {
    height: 100vh;
    display: flex;
    overflow: hidden;
}


/* Navigation */
.navigation-bar-container {
    padding: 0;
}

.navigation-bar {
    padding: 0;
}

#navbar {
    max-width: 250px;
}

#navigation-links-container {
    padding: 0;
}

#navigation-links {
    padding: 0;
}

#navigation-links li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#navigation-links li a {
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;
}

.navigation-header h3{
    font-family: "Titillium Web";
    font-weight: 800;
}

.navigation-header small {
    font-family: "Poppins";
}

/* Navigation button for responsive design */
.navButton {
    border-radius: 0 !important;
}

/* lalagyan ng sections */
#section-container {
    margin: 0;
    padding: 0;
}

/* Profile Section */
#profile {
    height: 100vh;
}

#profile .profile-top-part {
    padding: 0;
}

.profile-info-text h3 {
    font-weight: 700;
}

.nameplate-container h3 {
    font-family: "Titillium Web";
    font-weight: 700;
}

.nameplate h2, #responsive-nameplate h2 {
    font-family: "Titillium Web";
    font-weight: 700;
}

.nameplate p, #responsive-nameplate p {
    font-family: "Poppins";
}

/* Profile Top Part */
.profile-top-part {
    padding: 0;
}


/* Profile Bottom Part */
.profile-bottom-part {
    border-top: 2px solid black;
}

/* Pending Tasks part */
#tasks {
    border-radius: 20px;
}

#tasks h5 {
    font-family: "Open Sans";
    margin: 0;
}

/* Inputs */
.input-row div label {
    font-family: "Poppins";
}

.profile-input label {
    font-family: "Poppins";
}

/* All Section */
section {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

/* Scrolllbar */
section::-webkit-scrollbar {
    width: 12px;
}

section::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

section::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;  
}




.other-students-top-part {
    padding: 10px;
    border-bottom: 2px solid black;
}

.other-students-top-part h2 {
    font-family: "Titillium Web";
    font-weight: 700;
}

.student-card .card-body p {
    margin: 0;
    font-family: "Inter";
    font-weight: 600;
}

/* Submit Section */
#submit-card {
    max-width: 900px;
    padding: 0;
}

.submit-card-header p {
    margin: 0;
    font-family: "Poppins";
}

/* Edit Profile Section */
#edit-profile {
    height: 100vh;
}

#edit-profile .edit-profile-top-part {
    padding: 0;
}

.edit-profile-top-part {
    padding: 0;
}

#previewimg1,  #previewimg2{
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: white;
    padding: 5px;
    margin: 20px 20px -50px 20px;
}

#otherimg {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
}












































































